// Importation des mixine
@import "../bower_components/normalize-scss/normalize";
@import "mixin";
@import "style";

// Variables
$noir: #000000;
$blanc: #ffffff;
$grisPale: #f7f7f7;
$grisFoncee: #3e3e3e;
$background: #f7f7f7;
$erreur: #C71F22;
$vert : #8ec714;
// Importation de la fontface
@font-face {
    font-family: maFont;
    src: url(../medias/font/basictitlefont.ttf);
}

// Style Généraux
html{
}
h1,h2,h3,h4,p{
  margin: 0;
  font-size: 16px;
}
body{
  font-family: maFont;
  overflow: hidden;
}

.container{
  background-color: $background;
  position: absolute;
  width: 100%;
  height: 100%;
  border: solid 30px $blanc;
  @include box-sizing(border-box);
}


// scss pour le splashScreen
.splashScreen{
  background-image: url("../medias/images/backSplashScreen.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 0px 53px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 0px 53px rgba(0,0,0,1);
  box-shadow: 0px 0px 0px 53px rgba(0,0,0,1);
  &:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.75);
  }
  .sideInformations{
    color: $blanc;
    &:after{

    }
  }
  p{
    color: $blanc;
    font-size: 50px;
    text-align: center;
    position: absolute;
    top:48%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

  }
  .preLoaderCircle{
    svg{
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      &.slowCircle{
        transition: all 40s linear;
      }
      &.fastCircle{
        transition: all 20s linear;
      }
    }
  }
}

// Logo du site en haut a gauche
nav{
  @extend %clearfix
}
.topLeftLogo{
  position: absolute;
  left: 20px;
  top: 20px;
  width: 40px;
  @include transform(rotate(90deg))
}
// Ham menu principale
.navMainBtn{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  .ligneBtn{
    height: 1px;
    width: 100%;
    background-color: $noir;
    margin: 8px 0;
  }
}

// Nom sur la gauche
.sideInformations{
  position: absolute;
  left: -10px;
  top: 50%;
  @include transform(translateY(-50%));
  h1{
    display: -webkit-inline-box;
    @include transform(rotate(90deg));
    &:after{
      content: '';
      display: block;
      position: relative;
      background-color: $noir;
      width: 1px;
      right: -5px;
      height: 13px;
    }
  }
}

// Css pour l'accueil
// Design scope middle page
.ScopeDesign{
  -webkit-box-shadow: -2px -1px 14px 0px rgba(50, 50, 50, 0.09);
  -moz-box-shadow:    -2px -1px 14px 0px rgba(50, 50, 50, 0.09);
  box-shadow:         -2px -1px 14px 0px rgba(50, 50, 50, 0.09);
  display: block;
  margin: auto;
  width: 630px;
  height: 630px;
  border-radius: 50%;
  background-image: url("../medias/images/scopeAccueil.jpg");
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  &:hover{
    .middleScopeDesign{
      svg{
        transform: rotate(90deg);
        transition: all 10s linear;
      }
    }
  }
}
.centerScopeDesign{
  width: 550px;
  height: 550px;
  border-radius: 50%;
  border: solid 1px $noir;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  .blackIcone{
    width: 45px;
    height: 45px;
    background-color: $noir;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    i{
      color: $blanc;
      font-size: 30px;
      position: relative;
      left: 7px;
      top: 7px;
    }
  }
  .menuCompetences{
    @include transform(translatex(-50%));
    left: 50%;
    top: -22.5px;
  }
  .menuProjets{
    @include transform(translateY(-50%));
    top: 50%;
    right: -22.5px;
  }
  .menuPropos{
    @include transform(translateY(-50%));
    top: 50%;
    left: -22.5px;
  }
}

.middleScopeDesign{
  svg{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(0deg);
    transition: all 1s linear;
  }
}
.centerLogo{
  img{
    width: 180px;
    @include transform(rotate(90deg));
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

}
